.material-icons {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
  }
  
  .material-icons.golden { 
    color: darkgoldenrod; 
  }
  .selected {
    background-color: gray !important;
  }