<div *ngIf="selectedItemShipping && selectedItemReturns">
  <table class="table table-striped table-dark table-fixed">
    <tbody>
      <tr *ngIf="selectedItemShipping.shippingServiceCost[0].__value__">
        <th scope="row">Shipping Cost</th>
        <td>
          <span *ngIf="selectedItemShipping.shippingServiceCost[0].__value__ == '0.0'">Free Shipping</span>
          <span *ngIf="selectedItemShipping.shippingServiceCost[0].__value__ != '0.0'">
            ${{selectedItemShipping.shippingServiceCost[0].__value__}}</span>
        </td>
      </tr>
      <tr *ngIf="selectedItemShipping.shipToLocations">
        <th scope="row">Shipping Locations</th>
        <td>{{selectedItemShipping.shipToLocations[0]}}</td>
      </tr>
      <tr *ngIf="selectedItemShipping.handlingTime">
        <th scope="row">Handling Time</th>
        <td>{{selectedItemShipping.handlingTime[0]}}
          <span *ngIf="selectedItemShipping.handlingTime <= 1"> Day</span>
          <span *ngIf="selectedItemShipping.handlingTime > 1"> Days</span>
        </td>
      </tr>
      <tr *ngIf="selectedItemShipping.expeditedShipping">
        <th scope="row">Expedited Shipping</th>
        <td>
          <i *ngIf="selectedItemShipping.expeditedShipping == 'true'" class="material-icons green">check</i>
          <i *ngIf="selectedItemShipping.expeditedShipping == 'false'" class="material-icons red">close</i>
        </td>
      </tr>
      <tr *ngIf="selectedItemShipping.oneDayShippingAvailable">
        <th scope="row">One Day Shipping</th>
        <td>
          <i *ngIf="selectedItemShipping.oneDayShippingAvailable == 'true'" class="material-icons green">check</i>
          <i *ngIf="selectedItemShipping.oneDayShippingAvailable == 'false'" class="material-icons red">close</i>
        </td>
      </tr>
      <tr *ngIf="selectedItemReturns">
        <th scope="row">Return Accepted</th>
        <td>
            <i *ngIf="selectedItemReturns == 'true'" class="material-icons green">check</i>
            <i *ngIf="selectedItemReturns == 'false'" class="material-icons red">close</i>
        </td>
      </tr>
    </tbody>
  </table>
</div>
